html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  /* padding: 0 5rem; */
  margin-top: 10vh;
  color: #34414f;
  background-color: rgb(254, 253, 249);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

h1 {
  color: white;
  background-color: black;
}
